<!-- sidebar 좌측의 메뉴바 -->
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div>
          <div>
            <label>종목명</label>
            <input type="text" id="code">
          </div>
        </div>
        <div>
          <label>투자시작</label>
          <select id="s_year">
                {% for year in range(2010, 2026)%}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
             </select>
             년
             <select id="s_month">
                {%for month in range(1,13) %}
                    <option value="{{month}}">{{month}}</option>
                {% endfor %}
             </select>
             월
             <select id="s_day">
                {%for day in range(1,32)%}
                    <option value="{{day}}">{{day}}</option>
                {% endfor %}
             </select>
             일
        </div>
        <div>투자종료</div>
         <div>
            <label>투자의 시작 시간</label>
            <!-- 유저가 선택할 수 있도록 선택 박스 생성 -->
             <select id="e_year">
                {% for year in range(2010, 2026)%}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
             </select>
             년
             <select id="e_month">
                {%for month in range(1,13) %}
                    <option value="{{month}}">{{month}}</option>
                {% endfor %}
             </select>
             월
             <select id="e_day">
                {%for day in range(1,32)%}
                    <option value="{{day}}">{{day}}</option>
                {% endfor %}
             </select>
             일
        </div>
        <div>
            <label>투자 방법</label>
            <select id="kind">
                <option value="bnh">Buy & Hold</option>
                <option value="boll">볼린저 밴드</option>
                <option value="hall">할로윈</option>
                <option value="mmt">모멘텀</option>
            </select>
        </div>
        <button id="send_data">투자 전략 확인</button>
        <!-- 메뉴에 대입이되는 텍스트와 아이콘들이 비순서 리스트로 생성 -->
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
        
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <svg class="bi"><use xlink:href="#plus-circle"/></svg>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
                <svg class="bi"><use xlink:href="#house-fill"/></svg>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#cart"/></svg>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#people"/></svg>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#graph-up"/></svg>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#puzzle"/></svg>
                Integrations
              </a>
            </li>
          </ul>

          <hr class="my-3">
        </div>
      </div>
    </div>