<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup2</title>
    {% include 'header.html' %}
</head>
<body>
    <form action="/user_insert" method="post">
        <div>
            <label>ID</label>
            <input type="text" name="input_id" value="{{id}}" readonly>
        </div>
        <div>
            <label>password</label>
            <input type="password" name="input_pass"> 
        </div>
        <div>
            <label>Name</label>
            <input type="text" name="input_name">
        </div>
        <input type="submit" value="회원 가입">
    </form>
</body>
</html>